@using UltimateMovies.Areas.Admin.ViewModels
@model UserListingModel

@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="margin-bottom: 30px">
    <h1>Users</h1>
</div>

<div class="container">
    <table class="table table-hover text-center">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-3">Username</th>
                <th scope="col" class="col-lg-3">Full Name</th>
                <th scope="col" class="col-lg-3">Email</th>
                <th scope="col" class="col-lg-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr class="row">
                    <th scope="col" class="col-lg-3">@item.Username</th>
                    <th scope="col" class="col-lg-3">@item.FullName</th>
                    <th scope="col" class="col-lg-3">@item.Email</th>
                    @if (item.Role == "Admin")
                    {
                        <th scope="col" class="col-lg-3">
                            <form asp-area="Admin" asp-controller="Users" asp-action="RemoveAdmin" method="get">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="submit" value="Remove Admin" class="btn btn-danger" />
                            </form>
                        </th>
                    }
                    else
                    {
                        <th scope="col" class="col-lg-3">
                            <form asp-area="Admin" asp-controller="Users" asp-action="AddAdmin" method="get">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="submit" value="Make Admin" class="btn btn-success" />
                            </form>
                        </th>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
