@using UltimateMovies.ViewModels.Actors

@model ActorViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-bottom: 10px; margin-left: 13px">
    <h1 style="margin-bottom: 20px">@Model.Name (<a href="@Model.ImdbUrl">IMDb</a>)</h1>
    @if (this.User.IsInRole("Admin"))
    {
        <a href="/Admin/Actors/Edit/@Model.Id" class="btn btn-outline-success">Edit</a>
    }
</div>

<hr />

<div style="margin-top: 25px">
    <img src="@Model.PictureUrl" alt="Actor's picture" style="display: block; margin-left: auto; margin-right: auto; border-radius: 7rem; border: 1px solid black" width="30%" />
</div>

<br />
<br />

<div class="container justify-content-center" style="font-size: 24px; display: inline-block;">
    <table class="table table-hover table-striped text-center">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-4">Poster</th>
                <th scope="col" class="col-lg-4">Name</th>
                <th scope="col" class="col-lg-4">Watch</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr class="row">
                    <td class="col-lg-4"><img src="@movie.PosterUrl" alt="Alternate Text" width="100" height="150" /></td>
                    <td class="col-lg-4" style="margin-top: auto; margin-bottom: auto; border-top: none">@movie.Name</td>
                    <td class="col-lg-4" style="margin-top: auto; margin-bottom: auto; border-top: none"><a href="/Movies/Details/@movie.Id" class="btn btn-outline-primary"><i class="fas fa-film"></i> Watch now!</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
