@using UltimateMovies.Areas.Admin.ViewModels
@model MoviesEditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4 text-center" style="margin-left: auto; margin-right: auto;">
        <form asp-area="Admin" asp-controller="Movies" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnlinePrice" class="control-label"></label>
                <input asp-for="OnlinePrice" class="form-control" />
                <span asp-validation-for="OnlinePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BluRayPrice" class="control-label"></label>
                <input asp-for="BluRayPrice" class="form-control" />
                <span asp-validation-for="BluRayPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DvdPrice" class="control-label"></label>
                <input asp-for="DvdPrice" class="form-control" />
                <span asp-validation-for="DvdPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Directors" class="control-label"></label>
                <input asp-for="Directors" class="form-control" />
                <span asp-validation-for="Directors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control">
                    @foreach (var genre in (MovieGenre[])Enum.GetValues(typeof(MovieGenre)))
                    {
                        <option value="@genre.ToString()">@genre.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre2" class="control-label"></label>
                <select asp-for="Genre2" class="form-control">
                    @foreach (var genre in (MovieGenre[])Enum.GetValues(typeof(MovieGenre)))
                    {
                        <option value="@genre.ToString()">@genre.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Genre2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre3" class="control-label"></label>
                <select asp-for="Genre3" class="form-control">
                    @foreach (var genre in (MovieGenre[])Enum.GetValues(typeof(MovieGenre)))
                    {
                        <option value="@genre.ToString()">@genre.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Genre3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMDbScore" class="control-label"></label>
                <input asp-for="IMDbScore" class="form-control" />
                <span asp-validation-for="IMDbScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RottenTomatoes" class="control-label"></label>
                <input asp-for="RottenTomatoes" class="form-control" />
                <span asp-validation-for="RottenTomatoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMDbUrl" class="control-label"></label>
                <input asp-for="IMDbUrl" class="form-control" />
                <span asp-validation-for="IMDbUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerUrl" class="control-label"></label>
                <input asp-for="TrailerUrl" class="form-control" />
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterUrl" class="control-label"></label>
                <input asp-for="PosterUrl" class="form-control" />
                <span asp-validation-for="PosterUrl" class="text-danger"></span>
            </div>
            <div class="form-grop container" style="margin-bottom: 20px">
                <table class="table table-hover">
                    <thead>
                        <tr class="row">
                            <th scope="col" class="col-lg-4"></th>
                            <th scope="col" class="col-lg-4">Name</th>
                            <th scope="col" class="col-lg-4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var actor in Model.Actors)
                        {
                            <tr class="row">
                                <th class="col-lg-4"><img src="@actor.PictureUrl" alt="Alternate Text" width="50%" /></th>
                                <th class="col-lg-4">@actor.Name</th>
                                <th class="col-lg-4">
                                    @*<a href="/Admin/Movies/RemoveActor/@actor.Id" class="btn btn-danger makeSureYouSaveEverything">Remove</a>*@
                                    <input type="hidden" />
                                    <button type="submit" name="actorId" value="@actor.Id.ToString()" class="btn btn-danger">Remove</button>
                                </th>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="row">
                            <th class="col-lg-7">
                                <select name="adding" class="form-control">
                                    @foreach (var actor in Model.ActorWANFTM.OrderBy(a => a.Name))
                                    {
                                        <option value="@actor.Id">@actor.Name</option>
                                    }
                                </select>
                            </th>
                            <th class="col-lg-5"><button type="submit" name="adding" value="adding" class="btn btn-success">Add Actor</button></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="form-group">
                <button type="submit" name="actorId" value="No" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

