@using System.Linq
@model UltimateMovies.ViewModels.Home.HomeListingModel
@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["ValidationError"] != null)
{
    <div>
        <h1 class="text-danger">You have entered wrong data! The movie was not created! @ViewData["ValidationError"]</h1>
    </div>
}

@if (ViewData["Message"] != null)
{
    <div>
        <h1 class="text-success">@ViewData["Message"]</h1>
    </div>
}

<div class="text-center">
    <h1 class="display-4" style="color: darkred"><b>Welcome to UltimateMovies</b> </h1>
    <h3 class="d-block" style="margin-bottom: -5px;">Here you can find the best movies!</h3>
    <h3 class="d-block">Scroll down, select the movie you want and watch it!</h3>
    <hr class="bg-primary" style="border-width: 3px;" />
</div>

<div class="text-center" style="margin-top: 30px; margin-bottom: 40px;">
    <form asp-controller="Home" asp-action="Index" method="get">
        <div class="row">
            <div class="form-group col-md-8">
                <input type="text" name="search" id="search" placeholder="Search For A Movie" class="form-control" value="@Model.SearchString" />
            </div>
            <div class="form-group col-md-1">
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
            <div class="form-group col-md-3">
                <select name="sortBy" class="form-control" onchange="this.form.submit()">
                    @for (int i = 0; i < Model.OrderByOptions.Count; i++)
                    {
                        @if (Model.OrderBy == Model.OrderByOptionsValues[i])
                        {
                            <option value="@Model.OrderByOptionsValues[i]" selected>@Model.OrderByOptions[i]</option>
                        }
                        else
                        {
                            <option value="@Model.OrderByOptionsValues[i]">@Model.OrderByOptions[i]</option>
                        }
                    }
                </select>
            </div>
        </div>
    </form>
    <hr class="bg-primary" style="border-width: 3px;" />
</div>


<div class="row" style="margin-left: 1px; margin-right: -30px">
    <div class="col-md-2 bg-primary text-white" style="margin-top: 15px">
        <h3 class="text-center">Genre</h3>
        <hr class="bg-white" />
        <form asp-controller="Home" asp-action="Index" method="get">
            <ul class="list-group" type="none">
                @foreach (var genre in (MovieGenre[])Enum.GetValues(typeof(MovieGenre)))
                {
                    <li>
                        @if (genre == Model.GenreFilter)
                        {
                            <label>
                                <b><input class="submiter" type="radio" name="genre" checked value="@genre.ToString()" /> <span>@genre.ToString()</span></b>
                            </label>
                        }
                        else
                        {
                            <label>
                                <input class="submiter" type="radio" name="genre" value="@genre.ToString()" /> <span>@genre.ToString()</span>
                            </label>
                        }
                    </li>
                }
            </ul>
        </form>

    </div>
    <div class="col-md-10">
        @if (Model.SearchString != null && Model.SearchString != "")
        {
            <h3 class="text-primary">SearchResults: </h3>
            <hr />
            <br />
        }

        <div class="row">
            @foreach (var movie in Model.HomeMovies)
            {
                @*<div class="col-md-3 d-inline-block" style="margin-right: 48.5px; margin-left: 38.5px">*@

                @if (Model.SearchString == null || movie.Name.ToLower().Contains(Model.SearchString.ToLower()))
                {
                    @if (Model.GenreFilter == MovieGenre.All || (movie.Genre == Model.GenreFilter || movie.Genre2 == Model.GenreFilter || movie.Genre3 == Model.GenreFilter))
                    {
                        //col-1 col-sm-1 col-md-3 col-lg-4 mb-5
                        <div class="col-1 col-sm-1 col-md-3 col-lg-4 mb-5">
                            <div class="card md-4 m-md-3 shadow-sm">
                                <a href="/Movies/Details/@movie.Id">
                                    <div class="bd-placeholder-img card-img-top homeMovieImageDiv">
                                        <img src="@movie.ImageUrl" alt="Poster" width="100%" height="350" />
                                    </div>
                                </a>
                                <div class="card-body homeMovieImageBody">
                                    <p style="text-align: center; height: 95px; margin-top: auto; margin-bottom: auto"><a href="/Movies/Details/@movie.Id"><b>@movie.Name</b></a> </p>
                                    <p style="float: left;"><b>@movie.ReleaseDate.Year</b></p>
                                    <p style="float: right;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/250px-IMDB_Logo_2016.svg.png" alt="Alternate Text" width="50px" height="25px" /> <b>@movie.IMDbScore / 10</b></p>
                                    <br />
                                    <br />
                                    <p style="float: left; padding-top: 10px"><b>@movie.Length</b> mins</p>
                                    <p style="float: right;"><img src="https://www.smdp.com/wp-content/uploads/2018/08/RT.png" alt="Alternate Text" width="55px" height="40px" style="margin-bottom: 5px" /> <b>@(movie.RottenTomatoes)%</b></p>

                                    <div style="text-align: center; margin-top: 70px">
                                        <a href="/Movies/Details/@movie.Id" class="btn btn-primary"><i class="fas fa-film"></i> Watch!</a>
                                        @if (movie.IsInUserWishList == true)
                                        {
                                            <a href="/User/AddToWishList/@movie.Id" class="btn btn-danger"><i class="fas fa-heart"></i></a>
                                        }
                                        else
                                        {
                                            <a href="/User/AddToWishList/@movie.Id" class="btn btn-outline-danger"><i class="fas fa-heart"></i></a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p style="display: none">@(Model.MoviesCount++)</p>
                    }
                }
            }

            @if (Model.MoviesCount == 0 && Model.SearchString != "")
            {
                <div class="text-center" style="margin-left: auto; margin-right: auto">
                    <h2 class="text-info">
                        We are sorry, but we don't have movies with that name! <br />
                        You might have misspelled the movie's name. <br /> <br />
                        You can suggest a movie, by pressing this button:
                    </h2>

                    <form asp-controller="Movies" asp-action="Suggest" method="get">
                        <input type="hidden" name="movieName" value="@Model.SearchString" />
                        <input type="submit" value="Suggest A Movie" class="btn btn-info" style="margin-top: 15px" />
                    </form>
                </div>
            }
        </div>
    </div>
</div>

@*//col-6 col-sm-6 col-md-4 col-lg-3 mb-3*@

